body,
html {
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
}

section {
    display: block;
    /*padding: top, right, left, bottom*/
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
}

.navbar {
    background-color: #333333;
    list-style-type: none;
    margin-top: 0px;
    width: 100%;
    overflow: hidden;
    padding: 0;
    position: fixed;
}

.navbar li {
    float: right;
    margin-right: 25px;
}

.navbar li a {
    text-decoration: none;
    color: white;
    font-size: large;
    display: block;
    padding: 18px;
    text-align: center;
}

.navbar li a:hover {
    background-color: #BB8FCE;
}

.webname {
    position: fixed;
    margin-left: 100px;
    float: left;
    color: white;
    font-size: large;
    display: block;
    padding: 18px;
    text-align: center;
}

.icon {
    position: fixed;
    margin-left: 50px;
    padding-top: 5px;
    display: block;
    text-align: center;
}

.london {
    background-color: #ABEBC6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 25px;
}

.centered {
    margin: auto;
    width: 300px;
    background-color: #F9E79F;
    padding: 10px;
}

.div_float {
    width: 100%;
    overflow: hidden;
}

.div_float div {
    width: 31%;
    float: left;
    padding-left: 20px;
}

.div_inline div {
    width: 31%;
    display: inline-block;
    padding-left: 20px;
    margin-left: 8px;
}

.div_flex {
    display: flex;
}

.div_flex div {
    width: 33%;
    padding-left: 20px;
}

.div_grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-left: 15px;
}

.div_grid div {
    padding-left: 20px;
}

/* Footer style */
footer {
    background-color: #D2B4DE;
}

.footer_table {
    border-collapse: collapse;
    width: 80%;
    table-layout: auto;
    margin: auto;
}

.mylogo {
    text-align: center;
    padding: 50px;
}

.mylogo h3 {
    margin-top: 5px;
}

.footer_table ul {
    list-style-type: none;
    margin-top: 0;
}

.socials a {
    text-decoration: none;
}